<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="page">
        <h1>Регистрация</h1>

        <form method="post">
            <label for="login">Логин:</label><br>
            <input type="text" id="login" name="login" required><br><br>

            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Зарегистрироваться</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <div class="login-link">
            <p>Уже есть аккаунт? 
                <a href="{{ url_for('login') }}">Войти</a>
            </p>
        </div>
    </div>
</body>
</html>